In [ ]:
import streamlit as st
import pandas as pd
import numpy as np
import psycopg2 as db_connect

In [ ]:
data_address = "C:\\Users\joelf\Documents\Bootcamp\Data_Analytics\Project\Green_Team\StreamlitDemo\Resources/test.csv"

def load_data(nrows):
    data = pd.read_csv(data_address, nrows=nrows)
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis='columns', inplace=True)
    return data

In [ ]:
data = load_data(4)

In [ ]:
data

## Code to connect postgre using python / credentials included. 
This example retrieve the data from the Amazon cloud database.
Reference : https://www.psycopg.org/

In [ ]:
host_name="dataviz.cgq2ewzuuqs1.us-east-2.rds.amazonaws.com"
db_user="postgres"
db_password="ElPeruano_2021"
db_name="postgres"
db_port = 5432
connection = db_connect.connect(host=host_name,user=db_user,password=db_password,database=db_name, port=db_port)
 
cursor = connection.cursor()

In [ ]:
query = 'Select * from public."' + 'EO_Customer_Class"'
#You can add "limi 5" ad the end of the query if you want to retrieve only the first 5 rows

In [ ]:
cursor.execute(query)
result = cursor.fetchall()
print(result)

In [ ]:
#It is important close the connection to not keep the database server opn (it will charge extra money lol)
connection.close()

# How to insert an image - test

In [ ]:
from PIL import Image
LOGO_IMAGE = "C:\\Users\joelf\Documents\Bootcamp\Data_Analytics\Project\GreenDashboard\Resources\Images/Austin_Back_carlos-alfonso.jpg"
background = Image.open(LOGO_IMAGE)
background

## Connecting a to the table Emmision and displaying on a grid

In [ ]:
host_name="dataviz.cgq2ewzuuqs1.us-east-2.rds.amazonaws.com"
db_user="postgres"
db_password="ElPeruano_2021"
db_name="postgres"
db_port = 5432
connection = db_connect.connect(host=host_name,user=db_user,password=db_password,database=db_name, port=db_port)
 
cursor = connection.cursor()

In [ ]:
query = 'SELECT * FROM public."' + 'G_Emmision_US" where public."G_Emmision_US"."State" =' +  "'TX'"
cursor.execute(query)
result = cursor.fetchall()
#print(result)

In [ ]:
connection.close()

In [ ]:
df = pd.DataFrame(result)
df

# BROWSE IMAGE USING LIBRARY OS

In [ ]:
import os

In [ ]:
dir_test = os.getcwd()
print(dir_test)

In [ ]:
from PIL import Image
LOGO_IMAGE = dir_test + "\Resources\Images/Austin_Back_carlos-alfonso.jpg"
background = Image.open(LOGO_IMAGE)
background

# Database connection base on producer - test 1

In [ ]:
import psycopg2 as db_connect
import pandas as pd
import numpy as np
import plotly_express as px
import streamlit as st

In [ ]:
host_name="dataviz.cgq2ewzuuqs1.us-east-2.rds.amazonaws.com"
db_user="postgres"
db_password="ElPeruano_2021"
db_name="postgres"
db_port = 5432
connection = db_connect.connect(host=host_name,user=db_user,password=db_password,database=db_name, port=db_port)
 
cursor = connection.cursor()

In [ ]:
vSQL = ('Select Sum(public."G_Emmision_US"."CO2_Tons") as CO2, ' +  
        'Sum(public."G_Emmision_US"."SO2_Tons") as SO,' + 
        'Sum(public."G_Emmision_US"."NOx_Tons") as NOx from public."G_Emmision_US" WHERE '+ 
        ' public."G_Emmision_US"."State" =' + " 'TX' AND " + 'public."G_Emmision_US"."Year" = 2019 AND ' + 
        ' public."G_Emmision_US"."Energy_Source" =' + " 'All Sources' and" + ' public."G_Emmision_US"."Producer_Type" <> ' + 
        "'Total Electric Power Industry'"+ ' group by ' +  ' public."G_Emmision_US"."State", public."G_Emmision_US"."Year"')
print(vSQL)
cursor.execute(vSQL)
result = cursor.fetchall()
connection.close()

In [ ]:
df = pd.DataFrame(result)
df

In [ ]:
df.rename(columns={0: 'CO',1:'SO',2:'NO'}, inplace=True)
df = df.stack().reset_index()
df.rename(columns={'level_1': 'Gas',0:'Value'}, inplace=True)
df

In [ ]:
#df = df.reset_index()
df2 = pd.DataFrame([df.Gas,df.Value]).transpose()
df2

In [ ]:
fig = px.pie(df2, names= 'Gas', values= 'Value',title='test')
st.plotly_chart(fig)

# Database connection base on producer - test 1

In [ ]:
host_name="dataviz.cgq2ewzuuqs1.us-east-2.rds.amazonaws.com"
db_user="postgres"
db_password="ElPeruano_2021"
db_name="postgres"
db_port = 5432
connection = db_connect.connect(host=host_name,user=db_user,password=db_password,database=db_name, port=db_port)
 
cursor = connection.cursor()

In [ ]:
vSQL1 = ('Select public."G_Emmision_US"."Year", Sum(public."G_Emmision_US"."CO2_Tons") as CO2,' +
        'Sum(public."G_Emmision_US"."SO2_Tons") as SO,' +
        'Sum(public."G_Emmision_US"."NOx_Tons") as NOx from ' +          
        'public."G_Emmision_US" WHERE ' +
        'public."G_Emmision_US"."State" =' + " 'TX' AND " +
        'public."G_Emmision_US"."Energy_Source" =' + "'All Sources' and " +
        'public."G_Emmision_US"."Producer_Type" = ' + " 'Total Electric Power Industry' " +
        'group by public."G_Emmision_US"."State", public."G_Emmision_US"."Year" ' +
        'order by "G_Emmision_US"."Year" ASC')

#print(vSQL1)      
cursor.execute(vSQL1)
result = cursor.fetchall()
connection.close()

In [ ]:
df = pd.DataFrame(result)
df.set_index(0)
df.head()

In [ ]:
df.rename(columns={0: 'Year',1:'CO',2:'SO',3:'NO'}, inplace=True)
df.head()

In [ ]:
df.set_index('Year')
df.reset_index()
df

# Scatter test , how to insert multiple Y axis - Test 1

In [ ]:
#test to use plotly offline - not very convenient
import plotly.graph_objects as go
import plotly.offline as pyo

In [ ]:
fig = go.Figure()
trace0 = go.Scatter(x=df['Year'], y=df['CO'],
                    mode='markers',
                    name='makers')

trace1 = go.Scatter(x=df['Year'], y=df['SO'],
                    mode='lines',
                    name='lines')

trace2 = go.Scatter(x=df['Year'], y=df['NO'],
                    mode='markers', name='markers')

data = [trace0, trace1, trace2]
fig = go.Figure(data=data)

pyo.plot(fig)

# Scatter , how to insert 2 Y axis - test 2

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [ ]:
# Create figure with secondary y-axis
fig = make_subplots(specs=[[{"secondary_y": True}]])

In [ ]:
# Add traces
fig.add_trace(
    go.Scatter(x=df['Year'], y=df['CO'], name="CO data"),
    secondary_y=False,
)

fig.add_trace(
    go.Scatter(x=df['Year'], y=df['SO'], name="SO data"),
    secondary_y=True,
)

fig.add_trace(
    go.Scatter(x=df['Year'], y=df['NO'], name="NO data"),
    secondary_y=True,
)

# Set y-axes titles
fig.update_yaxes(title_text="<b>primary</b> yaxis title", secondary_y=False)
fig.update_yaxes(title_text="<b>secondary</b> yaxis title", secondary_y=True)

# Database connection using a function, return a dataframe = Test 1

#Test for main filter - charts with function

In [ ]:
import streamlit as st
import pandas as pd
import numpy as np
import psycopg2 as db_connect

In [ ]:
host_name="dataviz.cgq2ewzuuqs1.us-east-2.rds.amazonaws.com"
db_user="postgres"
db_password="ElPeruano_2021"
db_name="postgres"
db_port = 5432
connection = db_connect.connect(host=host_name,user=db_user,password=db_password,database=db_name, port=db_port)
 
cursor = connection.cursor()

In [ ]:
def Reload_Widgets(vYear,vFilter):
    
    if vFilter == 'Producer Type':
        vSQL = ('Select public."G_Emmision_US"."Producer_Type", public."G_Emmision_US"."CO2_Tons" as CO2,' +
                'public."G_Emmision_US"."SO2_Tons" as SO, public."G_Emmision_US"."NOx_Tons" as NOx from public."G_Emmision_US" WHERE ' + 
                ' public."G_Emmision_US"."Year" = ' + str(vYear) + ' and public."G_Emmision_US"."State" = ' + "'TX' AND " +
                ' public."G_Emmision_US"."Producer_Type" <> ' + "'Total Electric Power Industry' and " + 
                ' public."G_Emmision_US"."Energy_Source" = ' + " 'All Sources' order by " +
                ' public."G_Emmision_US"."Year",public."G_Emmision_US"."Producer_Type" ASC')
    else:
        #Energy Source
        vSQL = ('Select public."G_Emmision_US"."Energy_Source", public."G_Emmision_US"."CO2_Tons" as CO2,' +
                ' public."G_Emmision_US"."SO2_Tons" as SO, public."G_Emmision_US"."NOx_Tons" as NOx from public."G_Emmision_US" WHERE ' + 
                ' public."G_Emmision_US"."Year" = ' + str(vYear) + ' and public."G_Emmision_US"."State" = '+ "'TX' AND " +
                ' public."G_Emmision_US"."Producer_Type" = ' + " 'Total Electric Power Industry'and " + 
                ' public."G_Emmision_US"."Energy_Source" <> ' + "'All Sources' order by " +
                ' public."G_Emmision_US"."Year",public."G_Emmision_US"."Energy_Source" ASC ')
    
    cursor = connection.cursor()
    cursor.execute(vSQL)
    result_2 = cursor.fetchall()
    connection.close()
    
    df_raw = pd.DataFrame(result_2)
    
    if vFilter == 'Producer Type':
        df_raw.rename(columns={0: 'Producer Type',1:'CO2',2:'SO2',3:'NOX'}, inplace=True)
    else:
        df_raw.rename(columns={0: 'Energy Source',1:'CO2',2:'SO2',3:'NOX'}, inplace=True)
        
    return df_raw

# Dataframe manipulation / select specific columns and set a new index

In [ ]:
df = Reload_Widgets(1990,'Energy Source')
df

In [ ]:
var = 'Energy Source'
df3= pd.DataFrame(df[var])
df3 = df3.join(df['SO2'])
df3.reset_index(drop=True, inplace=True)
df3

In [ ]:
df3.set_index(df3[var])
df3

In [ ]:
df4 = pd.DataFrame(df[var])
df4

In [ ]:
df5 = df[[var, "SO2"]]
df5

In [ ]:
df5.set_index(var, inplace=True)
df5

In [ ]:
df5.set_index(df5["SO2"])
df5