In [1]:
import streamlit as st
import pandas as pd
import numpy as np

2022-01-08 22:57:54.079 INFO    numexpr.utils: NumExpr defaulting to 4 threads.

In [12]:
data_address = "C:\\Users\joelf\Documents\Bootcamp\Data_Analytics\Project\Green_Team\StreamlitDemo\Resources/test.csv"

def load_data(nrows):
    data = pd.read_csv(data_address, nrows=nrows)
    lowercase = lambda x: str(x).lower()
    data.rename(lowercase, axis='columns', inplace=True)
    return data

In [13]:
data = load_data(4)

In [14]:
data

    date_time      lat      lon base
0  08/01/2021  40.2201 -74.0021   B1
1  08/02/2021  40.1100 -73.1546   C1
2  08/01/2021  44.2201 -76.0021   D1
3  08/02/2021  42.1100 -70.1500   X1